# Este arquivo .gitignore deve ser colocado na raiz do diretório do seu projeto Unity
#
# Obtenha a versão mais recente em https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
#[Uu]ser[Ss]ettings/

# Capturas de Memória podem ficar excessivamente grandes.
# Elas também podem conter dados extremamente sensíveis
[Mm]emoryCaptures/

# Gravações podem ficar excessivamente grandes
[Rr]ecordings/

# Descomente esta linha se você deseja ignorar o plugin de ferramentas da Asset Store
# /[Aa]ssets/AssetStoreTools*

# Plugin Jetbrains Rider autogerado
#[Aa]ssets/Plugins/Editor/JetBrains*

# Diretório de cache do Visual Studio
.vs/

# Diretório de cache do Gradle
.gradle/

# Arquivos de solução e projeto do VS/MD/Consulo autogerados
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos de meta gerados pelo Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Arquivo gerado pelo Unity3D em relatórios de falhas
sysinfo.txt

# Builds
#*.apk
#*.aab
#*.unitypackage
#*.app
# Mantém as configurações de build geradas
# Essas não devem ser ignoradas a menos que você saiba que não deseja commitá-las
#[Bb]uild/
#[Bb]uilds/
# Mantém os logs de build
# Esses não devem ser ignorados a menos que você saiba que não deseja commitá-los
#[Ll]ogs/ 

# Arquivo gerado pelo Crashlytics
#crashlytics-build.properties

# Addressables empacotados
#[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Ativos temporários gerados automaticamente para Android
#[Aa]ssets/[Ss]treamingAssets/aa.meta
#[Aa]ssets/[Ss]treamingAssets/aa/*
